.btn-level {
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  padding: 6px 12px;
  background-color: $bg-section;
  font-size: 15px;
  color: #fff;
  outline: none;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: default;

  &.active {
    background-color: $color-green;
    cursor: pointer;
  }
}
