.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  background-color: transparent;
  border: solid 2px $color-main;
  border-radius: 5px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    transition: opacity $transition;

    @media (min-width: 768px) {
      height: 35px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__img {
    height: 100%;
  }

  &__copyright {
    margin-bottom: 10px;
    font-size: 15px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}
