.counter-game {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
  color: #fff;
  line-height: 55px;

  &__content {
    margin-right: 5px;
  }
}

.game-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: $color-main;
  border-radius: 5px;
  font-size: 15px;
  overflow: hidden;

  &__item {
    flex: auto;
    padding: 8px 7px;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;

    &--active {
      background-color: $color-green;
      border-color: $color-border-green;
    }
  }
}
